:root{
    
    --standard-font-color:#c1a35f;
    --main-font: 'Frank Ruhl Libre', serif;
}

.form-body{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 80vh;
  
}
body{
    background-color: rgb(56, 53, 53);
    color: var(--standard-font-color);
   
}
.form-body label{
    padding-top: 20px;
    font-size: larger;
   
}
.header{
    display: flex;
    
    align-items: center;
    background-color: black;
    margin: 0;
    height: 10vh;
}
.header h1{
    margin-right: 40%;
}
.logo-link{
    height: 50px;
    
}
input,label{
    width: 200px;

}

input:user-invalid{
    outline: 2px solid red;
}
.submit {
    margin-top: 20%;
    font-size: large;
    color: var(--standard-font-color);
    background-color: black;
    width: 150px;
    padding: 5px;
    border-radius: 2px;
    
}
.submit:hover{
    background-color: white;
    color: blue;
    cursor: pointer;
}


