body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.logo-container {
    display: flex;
    height: 30vh;
    width: 100%;
    justify-content: center;
}

.scrollable {
    height: calc(100vh - 60px);
    overflow-y: auto;

}

.photos {
    display: flex;

    justify-content: space-around;
    flex-wrap: wrap;

}

.main-photos {


    box-sizing: border-box;
    width: 300px;
    height: 200px;
    padding: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;



}

.description {
    font-size: larger;
    text-align: justify;

}

.top-nav {

    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 50px;
    z-index: 100;
    align-items: center;
    background-color: blue
}

.top-nav a {
    width: auto;
    background-color: ;
    color: antiquewhite;
    font-size: larger;
    padding: 15px;

}

.top-nav a:hover {
    background-color: white;
    color: #000;
}

.left-buttons {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.menu_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    height: auto;
    border: 1px solid black;
}

.menu_img {
    flex: 1;
    max-width: 50%;
    overflow: hidden;
}

.menu_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    box-sizing: border-box;
    font-size: large;
    text-align: center;
    justify-content: center;
}

.about-container {
    display: block;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    background-color: black;
    color: aliceblue;
}

.link_of_main {
    color: aliceblue;
    font-size: 40px;
}

.img-container {
    width: 100%;
    overflow:visible;
    white-space: nowrap;
    margin-top: 5%;
    position: relative;
    display: flex;
    animation: slide 25s linear infinite;
}

.img-container img {
    display: inline-block;
    height: 20rem;
    width: auto;
    border: solid 3px;
    border-radius: 1rem;
    margin: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
  
}

.img-container img:hover{
    transform: scale(1.07);
} 

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}